body {
    background-image: url("../imagenes/v617batch2-bb-01-technology.jpg");
    margin: 100px;
}

main {
    padding: 20px;
    margin: 10px auto;
    background-color: #b9d4dc;
    width: 350px;
    text-align: center;
}

.tarea {
    width: 98%;
    /*border: 1px solid gray;*/
    padding: 5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: none;
}

input{
    color: rgb(7, 0, 0);
    border: none;
}

.botoningresar{
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: rgb(10, 51, 186);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    width: 20%;    
}

input{
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}

.listaTareas{
    text-align: left;
    
}

.botonEliminar {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: rgb(10, 51, 186);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
 